@import '../../styles/variables.scss';

.quizView {
  width: 800px;
  max-width: 95%;
  margin: 2rem auto;
  padding: 24px 50px;
  .fieldSection {
    
    ul {
      list-style-type: none;
      padding: unset;
      li:first-of-type {
         border-top: 1px solid $primary;
      }
    }
    li {
      display: flex;
      flex-flow: row nowrap;
      border-bottom: 1px solid $primary;
   
    }
    .fieldDataGroup div {
         display: flex;
         flex-flow: row nowrap;
         align-items: center;
         
         span {
           padding: 0 1rem;
         }
      }
      button {
        align-self: center;
        margin-left: auto;
        margin-right: 0;
      }
  }
}