@mixin primaryButton() {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0.5rem 1rem;
  font-family: droulers;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: color 0.2s ease-in;
  line-height: 20px;
  &:hover {
    color: $bg-primary;
  }
  & > span {
    margin-left: 1rem;
  }
  &:focus {
    outline-color: $bg-secondary;
  }
}



