@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans:300,400,700&display=swap');

html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: $primary;
}

h1,h2,h3,h4,p {
  color: $primary;
  font-family: $secondary-font;
}
a {
  color: $secondary;
}

@media screen and (max-width: $breakpoint) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: $breakpoint-min) {
  html {
    font-size: 12px;
  }
}