// colors
$text-primary: #000;
$text-secondary: #fff;
$bg-primary: #eeeeee;
$bg-secondary: #e1c8e6;

$base: #18181E;
$primary: #fff;
$secondary: #DEC79B;

$yellow: #ffe664;
$lavender: #e1c8e6;
$green: #00c387;
$lightBlue: #78c3e1;
$gray: #eee;
$red: #ff461e;
$lavenderDark: #a742bb;
// measures
$nav-height: 4rem;
$breakpoint: 550px;
$breakpoint-min: 400px;

// fonts
$main-font: 'Open Sans', sans-serif;
$secondary-font: 'Merriweather', serif;
