@import '../../styles/variables.scss'; 

.button {
	padding: 10px 15px;
	cursor: pointer;
	position: relative;
	border: 2px solid $primary;
	outline: none;
	color: $primary;
	background-color: transparent;
	margin: 1.5rem 1.5rem 1.5rem 0;
	font-family: $main-font;
  white-space: nowrap;
  display: flex;
	&--border {
		&::after,
		&::before,
		span::after,
		span::before {
			content: "";
			position: absolute;
			background-color: $primary;
			transition: 0.5s ease;
		}
		&::after,
		&::before {
			height: 100%;
			width: 2px;
			top: -2px;
		}
		&::after {
			left: -2px;
		}
		&::before {
			right: -2px;
		}
		span::after,
		span::before {
			height: 2px;
			width: 100%;
			left: -2px;
		}
		span::after {
			top: -2px;
		}
		span::before {
			bottom: -2px;
		}
		&:hover:after {
			transform: translatex(-6px);
		}
		&:hover:before {
			transform: translatex(6px);
		}
		&:hover span::after {
			transform: translatey(-6px);
		}
		&:hover span::before {
			transform: translatey(6px);
		}
	}

  .spinner {
    position: relative;
    margin-left: 0.5rem;
  }

}

