@import '../../styles/variables.scss';

.formInput {
  width: 100%;
  input {
    width: 100%;
    font-family: $main-font !important;
    border: 2px solid $bg-primary;
    margin-bottom: 1rem;
    height: 2.5rem;
    line-height: 2rem;
    outline: none;
    transition: background-color 0.2s ease-in;
    padding-left: 0.5rem;
    background-color: $base !important;
    color: $primary;
    &::placeholder {
      color: darken($primary,  30%)
    }
    &:focus,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      background-color: lighten($base,  5%) !important;
    }

    &:-internal-autofill-selected {
      background-color: lighten($base, 5%)  !important;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
      font-family: $main-font !important;
    }
  }
  label {
    color: $primary;
  }
}