@import '../../styles/variables.scss';

.createQuizView {
  width: 1000px;
  max-width: 95%;
  margin: 2rem auto;
  padding: 24px 50px;

  select {
    border: 2px solid $primary;
    background-color: $base;
    outline: none;
    font-family: $main-font;
    color: $primary;
    border-radius: 0;
    height: 2.5rem;
    box-sizing: border-box;
  }

  .fieldSection {
    ul {
      list-style-type: none;
      padding: unset;
      li:first-of-type {
         border-top: 1px solid $primary;
      }
    }
    li {
      display: flex;
      flex-flow: row nowrap;
      border-bottom: 1px solid $primary;
   
    }
    .fieldDataGroup div {
         display: flex;
         flex-flow: row nowrap;
         align-items: center;
         
         span {
           padding: 0 1rem;
         }
      }
      button {
        align-self: center;
        margin-left: auto;
        margin-right: 0;
      }
  }
}